MVP_for_model.json
{
  "name": "MVP for model",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "security_alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d6ca2cf5-4b34-4051-bc6e-ed6113ce2619",
      "name": "Webhook",
      "webhookId": "7b2000a9-9f7d-4a95-9d8c-ccc9a7b55512"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1298d1a7-442a-492f-b526-cd03b6d29fda",
              "name": "body.processed_payload.summary",
              "value": "={{ $json.body.processed_payload.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "55db5c2a-aac0-4bea-a59a-b026990bb3da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={{ JSON.stringify({\n  model: \"tinyllama:1.1b\",\n  prompt: $json.body.processed_payload.summary,\n  stream: false\n}) }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "id": "a62a57c1-951f-46a6-a144-127cafa8b327",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ai_decision: $json.response\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        0
      ],
      "id": "d5dec18c-9334-49cb-a212-8f79d3bc02b3",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        840,
        0
      ],
      "id": "453e213b-1463-4afd-8ccd-f88b60990a17",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d47983e9-a69d-4bd9-8db7-75ad9e0cb85d",
  "meta": {
    "instanceId": "a31ed7e42a7c661bf00c07e2862e4947b527dd00528114238e497c593994ede9"
  },
  "id": "fKH1GSLLdMISOoOs",
  "tags": []
}